/* Estilos generales */
body {
	font-family: sans-serif;
}

h1, h2, h3 {
	margin-top: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0066cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

/* Estilos específicos para la landing page */
header {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-left: 20px;
}

nav li a:hover {
    color: #fff;
    background-color: #0066cc;
    transition: background-color 0.3s ease-in-out;
}

#hero {
	background-image: url('hero.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	padding: 100px 20px;
}

#hero h2 {
	margin-bottom: 30px;
	font-size: 36px;
}

#hero p {
	font-size: 20px;
	margin-bottom: 30px;
}

#features {
	background-color: #f5f5f5;
	padding: 50px 20px;
	text-align: center;
}

#features h2 {
	margin-bottom: 30px;
}

#testimonials {
	background-color: #fff;
	padding: 50px 20px;
	text-align: center;
}

.testimonial {
	margin-bottom: 30px;
}

.testimonial p {
	font-style: italic;
	font-size: 24px;
	margin-bottom: 10px;
}

.testimonial .author {
	font-weight: bold;
	font-size: 16px;
}

#faq {
	background-color: #f5f5f5;
	padding: 50px 20px;
	text-align: center;
}

#faq h2 {
	margin-bottom: 30px;
}

#faq dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#faq dt {
	flex-basis: 100%;
	margin-bottom: 10px;
	font-weight: bold;
}

#faq dd {
	flex-basis: 100%;
	margin-bottom: 30px;
}

#signup form {
    max-width: 500px;
    margin: 0 auto;
}
#signup h2 {
	margin-bottom: 30px;
	text-align: center;
  }

form label {
    display: block;
  margin-bottom: 10px;
  text-align: center; /* Agregar esta propiedad */
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
}

form button[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 0;
	
}


footer {
background-color: #f5f5f5;
padding: 20px;
text-align: center;
}